.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/local.properties
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/
*.iml
.idea/
